body{
    background-image: url("../imagenes/wallpaper2.jpg");
    background-size: cover;
}
h1{
    text-align: center;
    font-size: 140px;
    color: #FFCC00;
    font-family: 'Creepster', cursive;
    position:relative;
    top: 1px;
}
ul{
    text-align: center;
    font-size: 50px;
    font-family: "Impact";
    position:relative;
    top: 1px;
}
li{
    display: inline;
    margin: 2cm;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    color: #FFCC00;
}
article{
    font-family: 'Spicy Rice', cursive;
    color: orangered;
    font-size: 30px;
    text-align: justify;
}
#ghost{
    float: right;
    height: 500px;
    width: 400px;
    margin-right: 4cm;
    margin-top: 1cm;
    margin-left: 1cm;
}
#caramelos{
    float: right;
    height: 350px;
    width: 300px;
    margin-top: 1cm;
    margin-right: 5cm;
    margin-left: 1cm;
}
#contenido1{
    margin-left: 100px;
    width: 1200px;
    margin: 30px;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.6;
    filter: alpha(opacity=60);
}
#contenido2{
    margin-left: 1000px;
    margin-bottom: 5%;
    width: 1200px;
    margin: 30px;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.6;
    filter: alpha(opacity=60);
}
article p{
    margin: 5%;
}